/*.sprite1 {
   background: url('spritesheet.png') no-repeat -13px -0px;
   width: 59px;
   height: 57px;
}
.sprite2 {
   background: url('spritesheet.png') no-repeat -86px -1px;
   width: 59px;
   height: 56px;
}
.sprite3 {
   background: url('spritesheet.png') no-repeat -159px -5px;
   width: 58px;
   height: 52px;
}
.sprite4 {
   background: url('spritesheet.png') no-repeat -222px -7px;
   width: 68px;
   height: 49px;
}
.sprite5 {
   background: url('spritesheet.png') no-repeat -291px -19px;
   width: 73px;
   height: 35px;
}
.sprite6 {
   background: url('spritesheet.png') no-repeat -13px -86px;
   width: 59px;
   height: 48px;
}
.sprite7 {
   background: url('spritesheet.png') no-repeat -86px -86px;
   width: 59px;
   height: 50px;
}
.sprite8 {
   background: url('spritesheet.png') no-repeat -159px -86px;
   width: 58px;
   height: 48px;
}
.sprite9 {
   background: url('spritesheet.png') no-repeat -232px -87px;
   width: 58px;
   height: 43px;
}
.sprite10 {
   background: url('spritesheet.png') no-repeat -305px -87px;
   width: 58px;
   height: 44px;
}
.sprite14 {
   background: url('spritesheet.png') no-repeat -218px -148px;
   width: 72px;
   height: 45px;
}
.sprite11 {
   background: url('spritesheet.png') no-repeat -13px -156px;
   width: 59px;
   height: 44px;
}
.sprite12 {
   background: url('spritesheet.png') no-repeat -86px -157px;
   width: 59px;
   height: 43px;
}
.sprite13 {
   background: url('spritesheet.png') no-repeat -150px -158px;
   width: 67px;
   height: 35px;
}*/

.sprite14 {
   background: url('spritesheet.png') no-repeat -0px -0px;
   width: 73px;
   height: 67px;
}
.sprite15 {
   background: url('spritesheet.png') no-repeat -73px -0px;
   width: 73px;
   height: 67px;
}
.sprite16 {
   background: url('spritesheet.png') no-repeat -146px -0px;
   width: 73px;
   height: 67px;
}
.sprite17 {
   background: url('spritesheet.png') no-repeat -219px -0px;
   width: 73px;
   height: 67px;
}
.sprite18 {
   background: url('spritesheet.png') no-repeat -292px -0px;
   width: 73px;
   height: 67px;
}
.sprite19 {
   background: url('spritesheet.png') no-repeat -0px -67px;
   width: 73px;
   height: 67px;
}
.sprite20 {
   background: url('spritesheet.png') no-repeat -73px -67px;
   width: 73px;
   height: 67px;
}
.sprite21 {
   background: url('spritesheet.png') no-repeat -146px -67px;
   width: 73px;
   height: 67px;
}
.sprite22 {
   background: url('spritesheet.png') no-repeat -219px -67px;
   width: 73px;
   height: 67px;
}
.sprite23 {
   background: url('spritesheet.png') no-repeat -292px -67px;
   width: 73px;
   height: 67px;
}
.sprite24 {
   background: url('spritesheet.png') no-repeat -0px -134px;
   width: 73px;
   height: 67px;
}
.sprite25 {
   background: url('spritesheet.png') no-repeat -73px -134px;
   width: 73px;
   height: 67px;
}
.sprite26 {
   background: url('spritesheet.png') no-repeat -146px -134px;
   width: 73px;
   height: 67px;
}
.sprite27 {
   background: url('spritesheet.png') no-repeat -219px -134px;
   width: 73px;
   height: 67px;
}